@charset "UTF-8";

/*general*/
html {
	font-family: "Hiragino Kaku Gothic ProN", sans-serif;
	font-size: 62.5%;
}
html *{
	box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
}

.nav-menu {
	text-align: center;
	margin: 100px auto;
	padding: 10px;
}
.nav-menu ul {
	font-size: 0;
	padding: 0;
	text-decoration: none;
}
.nav-menu-item {
	display: inline-block;
	position: relative;
	font-size: 2.0rem;
	letter-spacing: 1px;
	text-align: center;
	color: #4d4d4d;
	padding: 10px;
	/*border: 1px solid #4d4d4d;*/
}
.nav-menu-item::after {
	content: "";
	display: inline-block;
	height: 2.4rem;
	width: 1px;
	background-color: #4d4d4d;
	margin: 0 10px;
}
.nav-menu-item .triangle {
	display: inline-block;
	border-top: 8px solid #999999;
	border-left: 8px solid transparent;
	/*border-bottom: 10px solid #999999;*/
	border-right: 8px solid transparent;
	margin: 2px;
}
.nav-menu-item-s {
	display: block;
	font-size: 1.8rem;
	letter-spacing: 1px;
	text-align: center;
	color: #4d4d4d;
	background-color: #ffffff;
	padding: 10px 30px;
	border: 1px solid #999999;
}
#pull-down-contents {
	position: absolute;
	top: 50px;
	left: 0;
}
.contents-display-reset {
	display: none;
}
.contents-nondisplay {
	display: none;
}
.contents-display {
	display: block;
}
#slider-area {
	display: block;
	margin: 20px auto 100px;
	padding: 10px;
	text-align: center;
}
#slider-area .slider-img {
	width: 300px;
	height: 300px;
	margin: 0 auto;
}
.slider-img img {
	display: none;
	width: 300px;
	height: 300px;
	object-fit: cover;
}
.push-btn {
	margin: 50px;
}

/*.condepen {
	height: 265px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid; 
	margin: 1em auto;
	padding: 1em;
}*/