charset "UTF-8";

/*general*/
html {
	font-family: "Hiragino Kaku Gothic ProN", sans-serif;
	font-size: 62.5%;
}
html *{
	box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
}
#wrapper {
	display: flex;
	width: 500px;
	height: 500px;
	align-items: center;
	justify-content: center;
	border: 1px solid #4d4d4d;
  border-radius: 50%;
  margin: 50px auto;
}
#element1 {
	color: #4d4d4d;
	background-color: #ffffff;
	font-size: 1.4rem;
	border: 1px solid #f5f5f5;
  border-radius: 5px;
	padding: 10px;
}
#button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 55px;
	height: 55px;
	border: 1px solid #999999;
  border-radius: 10px;
	margin-left: 15px;
	background-color: #bbbbbb;
	text-decoration: none;
}
#button:hover {
	background-color: #dddddd;
}
.pushtxt {
	margin: 0;
	font-size: 1.0rem;
	color: #ffffff;
}
.pink {
	background-color: #ffe2df;
}
.blue {
	background-color: #87ceeb;
}
